#input-profile {
  min-height: 8em
}

.ck {


  text-align: center;
}
.ck-border{
  border: lightgrey 1px solid;
}

body {
  padding: 0;
  margin: 0;

}

html {
  overflow-y: scroll;


  overflow-x: hidden;

}

#center-button {
  margin: auto;
  display: block;
}


:root {
  --ck-image-style-spacing: 1.5em;
}


.image-style-side {
  max-width: 50%;
}


.image-style-side {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}

.image-style-side > img {
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}


.image-style-align-left {
  float: left;
  margin-right: var(--ck-image-style-spacing);
}


.image-style-align-center {
  margin-left: auto;
  margin-right: auto;
}


.image-style-align-right {
  float: right;
  margin-left: var(--ck-image-style-spacing);
}


#blogpost-container {
  position: relative;
}




.icon-btn, .icon-btn:focus, .icon-btn:hover, .btn.btn-secondary.icon-btn:active {
  color: #000;

  background: rgba(255, 255, 255, .5);
  border: none;
  border-radius: 10%;
  box-shadow: none !important;
  z-index:11;
}
.btn.btn-secondary.icon-btn:active{
  background: rgba(222, 222, 222, .3);
}
.menu-btn {
  font-size: 30px;
  position:fixed;
  margin: 10px;
}
.blog-btn {
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 2px;
  z-index:11;
}
