#input-profile {
  min-height: 8em
}
.ck {

  border: lightgrey 1px solid;
  text-align: center;
}

body {
  padding: 0;
  margin: 0;

}

html {
  overflow-y:scroll;
}

#center-button{
  margin: auto;
  display:block;
}

.transparent-button{
  background-color: transparent;
  border:none
}

:root {
--ck-image-style-spacing: 1.5em;
}


.image-style-side {
max-width: 50%;
}


.image-style-side {
float: right;
margin-left: var(--ck-image-style-spacing);
}

.image-style-side > img {
max-width: 100%;
height: auto;
margin: 0 auto;
}


.image-style-align-left {
float: left;
margin-right: var(--ck-image-style-spacing);
}


.image-style-align-center {
margin-left: auto;
margin-right: auto;
}


.image-style-align-right {
float: right;
margin-left: var(--ck-image-style-spacing);
}


#blogpost-container {
position: relative;
}
